MYSQL_ROOT_PASSWORD=PUT_YOUR_PASSWORD_HERE
MYSQL_DATABASE=parking_system
MYSQL_HOST=localhost
MYSQL_PORT=3307
MYSQL_USER=root
MYSQL_PASSWORD=PUT_YOUR_PASSWORD_HERE
AUTH_JWT_SECRET=PUT_YOUR_SECRET_HERE
PORT=3001
CORS_ORIGIN=http://localhost:5173
MERLIAN_URL=http://localhost:3000
AUTH_TOKEN_TTL=8h
